---
layout: default
title: Submission Form
permalink: /submit.html
---
{% include nav.html %}
    <div id="sep" style="background: url(/assets/img/header32.jpg) no-repeat center top; background-position: center center; background-position: center center;">
     
	 
    </div><!--/sep-->

	<div class="container ptb">
		<div class="row">
		
		
		<div class="col-md-7">
		
		
		<form action="//formspree.io/indiandaith1@gmail.com" class="form-horizontal" method="POST">
<fieldset>
<input type="hidden" name="_next" value="http://indianfaith.com" />
<!-- Form Name -->
<legend class="text-center">Submit Information </legend>

<!-- Text input-->
<div class="form-group">
    <div class="col-md-12">
  <input id="name" name="name" placeholder="Name" class="form-control input-md" type="text" required>
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
    <div class="col-md-12">
  <input id="location" name="location" placeholder="Location (State/City/Zip)" class="form-control input-md" type="text" required>
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
    <div class="col-md-12">
  <input id="email" name="email" placeholder="email" class="form-control input-md" type="text" required>
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
    <div class="col-md-12">
  <input id="website" name="website" placeholder="website : www.example.com" class="form-control input-md" type="text">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
    <div class="col-md-12">
  <input id="image-thumb" name="image-thumb" placeholder="Link to small image (Thumbnail) http://dropbox.com/hdu33c5/images/banner.jpg" class="form-control input-md" type="text">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <div class="col-md-12">
  <input id="image" name="image-banner" placeholder="Link to banner (min. 1600px width ) / http://mywebsite.com/banner.jpg" class="form-control input-md" type="text">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
    <div class="col-md-12">
  <input id="donation" name="donation" placeholder="Link to donation page (if you accept donations)" class="form-control input-md" type="text">
    
  </div>
</div>

<!-- Textarea -->
<div class="form-group">
  
  <div class="col-md-12">                     
    <textarea class="form-control" placeholder="Description / About " id="description" name="description" required></textarea>
  </div>
</div>

<!-- Button -->
<div class="form-group">
  
  <div class="col-md-12 text-center">
    <button id="submit" name="submit" class="btn btn-primary btn-lg">Submit</button>
  </div>
</div>

</fieldset>
</form>



</div>



<div class="col-md-1"></div>
<div class="col-md-4">
	

{% include sidebar.html %}

</div>
		</div>
	</div>
	

		{% include footer.html %}